@import "tailwindcss";

@theme {
  --color-primary: #2f80ed;
  --color-primary-gray-1: #4f4f4f;
  --color-primary-gray-2: #828282;
  --color-primary-gray-3: #e0e0e0;
  --color-primary-gray-4: #f2f2f2;

  --color-indicator-orange: #f8b76b;
  --color-indicator-indigo: #8785ff;
  --color-indicator-red: #eb5757;
  --color-indicator-mustard: #f2c94c;

  --color-chat-orange-primary: #e5a443;
  --color-chat-orange-secondary: #fceed3;

  --color-chat-purple-primary: #9b51e0;
  --color-chat-purple-secondary: #eedcff;

  --color-chat-green-primary: #43b78d;
  --color-chat-green-secondary: #d2f2ea;

  --color-sticker-water: #e9f3ff;
  --color-sticker-peach: #fdcfa4;
  --color-sticker-sand: #f9e9c3;
  --color-sticker-mint: #afebdb;
  --color-sticker-tea: #cbf1c2;
  --color-sticker-lilac: #cfcef9;
  --color-sticker-lavender: #f9e0fd;

  --color-fab-task: #f8b76b;
  --color-fab-inbox: #8785ff;
}

body {
  font-family: "Lato", sans-serif;
  @apply text-primary-gray-1;
}
